pandas == 2.2.3
scikit-learn~=1.6.1
numpy~=2.2.6
xgboost == 2.1.1
lightgbm~=4.6.0
optuna == 4.0.0
mlflow~=3.1.4
dvc == 3.57.0
pytest == 8.3.3
fastapi == 0.115.2
uvicorn == 0.32.0
joblib~=1.5.1
mlflow-skinny~=3.1.4
pydantic~=2.11.7